.container
  .row
    .col-8
      = form_for [@article, @section] do |p|
        .form-group.row
          .col-10
            = p.label :width
            = p.select :width, options_for_select(width_options), class: "form-control"
        .form-group.row
          .col-10
            = p.label :content
            = p.text_field :content, class: "form-control"
        .form-group.row
          = p.submit "Save", class: "btn btn-primary"
